# Dependências
node_modules/

# Arquivos de build
dist/
build/

# Arquivos de ambiente
.env
.env.local

# Arquivos de log
*.log

# Arquivos de IDE
.vscode/
.idea/

# Caches
.cache/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de configuração específicos do TypeScript
*.tsbuildinfo

# Configurações específicas do TypeScript
*.tsbuildinfo
tsconfig.tsbuild.json
